.vscode/

exckrnl/*
!exckrnl/.keep
build/*
!build/lmkfbuild
!build/pretreatment.mkf
!build/vbox.mkf
!build/vbox_win.mkf

*/*.bin

hd.*

./ovmf/esp/Kernel/Cosmos.eki

./release/*/*.bin
./release/*/*.debug
./release/*/*.eki
./release/*/*.elf
./release/*/*.app
